*.cpuprofile
*.heapsnapshot
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
.env
coverage
node_modules
npm-debug.log
dist
.dist
index.html
a-page.html
p-page.html
adv2018.html
pub2018.html
a2018.html
adv_2018.html
pub_2018.html
/config/env.config.js
/admin/index.html
/index.html
/auth.html
/acceptors.html
/cap.html
/faq.html
/news.html
/offers.html
/rules.html
/webmasters.html
*.pot
/admin/app/common/config/env.config.js
